# Data Preparation

1. Checking 2018 file
2. Checking 2013 file 
3. Indicator preparation 
4. Checking the rest of the files

In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [8]:
# Read the dataframe - to improve the fact reading dataframes and changing name

dft1 = pd.read_csv('./files/LT_2013p_EUSILC.csv')
dft2 = pd.read_csv('./files/FR_2013p_EUSILC.csv')
dft3 = pd.read_csv('./files/ES_2013p_EUSILC.csv')
dft4 = pd.read_csv('./files/DE_2013p_EUSILC.csv')
dft5 = pd.read_csv('./files/BG_2013p_EUSILC.csv')

/home/mariacarrasco/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (196) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
# Función para generar strings con nombres de los ficheros cambiando el identificador del año 
# Definición de los campos: 
# pr: prefix - IE: './files/' - string
# sb: subfix: IE: '_2013p_EUSILC.csv' - string
# cr: country IE: ['LT'...] - list
def filelist(st1,st2,cr): 
    filelist = []
    for s in cr:
        filename = st1 + s + st2
        filelist.append(filename)
    return filelist

# Función para concatenar strings

In [ ]:
# Función para concatenar los ficheros de los distintos años en un sólo fichero - adaptar y revisar
def concatenated_df(df_list):
    df_temp = pd.DataFrame()
    for file in df_list:
        df = pd.read_csv(file)
        if df_temp.shape == (0,0):
            df_temp = df
        else: 
            df_temp = pd.concat([df_temp,df])
    return df_temp

In [25]:
# Create a list with the code of the countries - funciona
cr_list = ['LT','FR','ES','DE','BG']
d_filelist = filelist('./files/','_2013p_EUSILC.csv',cr_list) # Ficheros información geográfica año 2004 - 2018

In [21]:
# Some of the dataset have higher number of variables, however this is related to the 
# fact that the dataframes are related to different years 94 four is the number of expected columns

df_list = [dft,dft2,dft3,dft4,dft5]
counter = 1 
for df in df_list:
    print('dft'+ str(counter) + ': ' +str(len(df.columns)))
    counter += 1
    
# Checked - now keep going with variable name

dft1: 94
dft2: 284
dft3: 94
dft4: 284
dft5: 94

In [145]:
# We are going to create a dataframe with 5 columns that is going to store if the columns are present or no - df_q
counter = 1
empty_list = []
df_q = pd.DataFrame(columns = ('q_index','Q1','Q2','Q3','Q4','Q5'))
for dataf in df_list:
    cols = dataf.columns
    for col in cols:
        empty_list.append(col)
df_q['q_index'] = empty_list
df_q = df_q.drop_duplicates() \
    .reset_index() \
    .drop(columns = ['index'])
df_q.head()

  q_index   Q1   Q2   Q3   Q4   Q5
0   PB010  NaN  NaN  NaN  NaN  NaN
1   PB020  NaN  NaN  NaN  NaN  NaN
2   PB030  NaN  NaN  NaN  NaN  NaN
3   PB040  NaN  NaN  NaN  NaN  NaN
4   PB060  NaN  NaN  NaN  NaN  NaN

In [134]:
# counter to iterate through the main df columns - df1
counter = 1
for dataf in df_list:
    empty_list = [] # list to store if the column is present on each dataframe (1 means stored and 0 means not stored)
    for col in dataf.columns: 
        if col in list(df_q['q_index']): 
            empty_list.append(1)
        else: 
            empty_list.append(0)
    while len(empty_list) < len(list(df_q['q_index'])): # if n columns of the independent dataframes are smaller 0 is added
        empty_list.append(0)
    df_q[df_q.columns[counter]] = empty_list
    counter += 1
df_q.head()

  q_index  Q1  Q2  Q3  Q4  Q5
0   PB010   1   1   1   1   1
1   PB020   1   1   1   1   1
2   PB030   1   1   1   1   1
3   PB040   1   1   1   1   1
4   PB060   1   1   1   1   1

In [143]:
# The number of columns which are equal is the same for the 5 df! that is good news!
df_q['db-check'] = df_q['Q1'] + df_q['Q2'] + df_q['Q3'] + df_q['Q4'] + df_q['Q5']
df_q[df_q['db-check'] == 5].shape

(94, 7)

In [ ]:
# Now we are going to select the columns we need and we are also going to concate

sources: https://ec.europa.eu/eurostat/web/microdata/statistics-on-income-and-living-conditions